# Python
__pycache__/
*.pyc
**.egg-info
.venv/

# IDE
.vscode/

# Build & Cache
build/
.threestudio_cache/

# Logs
logs/
**.log

# Data & Assets
**.ply

# Output & Results
output/
tmp/
tensorboard_3d/
screenshots/
inpaint/